In [1]:
class A:
    pass

In [2]:
obj = A()

In [3]:
type(obj)

__main__.A

In [4]:
l = [1,2,3]

In [5]:
type(l)

list

In [6]:
l.append.__doc__

'L.append(object) -> None -- append object to end'

In [7]:
class A:
    """This is docstring"""

In [8]:
A.__doc__

'This is docstring'

In [9]:
class A(object):
    """This is docstring of A class"""

In [10]:
A.__doc__

'This is docstring of A class'

In [12]:
class A:
    name = "class variable"    
    def setit(name):
        A.name = name
    def getit():
        print(A.name)

In [13]:
A.name

'class variable'

In [14]:
A.setit("new class variable")

In [15]:
A.getit()

new class variable

In [16]:
class A:
    def setit(self,name,age):
        self.name = name
        self.age = age
    def getit(self):
        print("Name : ",self.name)
        print("Age : ",self.age)

In [18]:
obj = A()
obj.setit("rahul",20)
obj2 = A()
obj2.setit("raghav",25)

In [19]:
obj.name

'rahul'

In [20]:
obj.age

20

In [21]:
obj2.name

'raghav'

In [22]:
obj2.age

25

In [23]:
obj2.course = "Python"

In [24]:
obj2.course

'Python'

In [25]:
obj.address = "raja park"

In [26]:
obj.address

'raja park'

In [27]:
obj.name = "anjali"

In [28]:
obj.getit()

Name :  anjali
Age :  20

In [29]:
import inspect

In [30]:
inspect.ismethod(A.setit)

False

In [31]:
inspect.ismethod(obj.setit)

True

In [21]:
class Employee:
    count = 0
    def setemp(self,name,age,eid):
        self.eid = eid
        self.name = name
        self.age = age
        Employee.count += 1
    def getemp():
        print("Name of employee : ",self.name)
        print("Id of employee : ",self.eid)
        print("Age of employee : ",self.age)
    def totalemp():
        print("Total employees are : ",Employee.count)

In [25]:
obj1 = Employee()
obj1.setemp("rahul",25,1)
obj2 = Employee()
obj2.setemp("Anjali",25,2)

In [23]:
obj1.getemp()

TypeError: getemp() takes 0 positional arguments but 1 was given

In [13]:
obj2.getemp()

Name of employee :  Anjali
Id of employee :  2
Age of employee :  25

In [14]:
Employee.totalemp()

Total employees are :  2

In [15]:
obj2.setemp("Rajeev",30,3)

In [16]:
Employee.totalemp()

Total employees are :  3

In [17]:
l = [1,2,3]

In [18]:
len(l)

3

In [20]:
l.__len__()

3

In [38]:
import time
class Student:
    count = 0
    def __init__(self,sid,name,course,age):
        self.sid = sid
        self.name = name
        self.course = course
        self.age = age
        Student.count += 1
    def get(self):
        print("Details of student are : ")
        print("Sid : ",self.sid)
        print("Name : ",self.name)
        print("Course : ",self.course)
        print("Age : ",self.age)
    
    def total():
        print("Total students are : ",Student.count)
        
    def __del__(self):
        print("Deleting name")
        time.sleep(2)
        del self.name
        print("deleting sid")
        time.sleep(2)
        del self.sid
        print("deleting course")
        time.sleep(2)
        del self.course
        print("Deleting object")
        time.sleep(2)
        del self

In [39]:
s1 = Student(1,"mayank","python",20)
s2 = Student(2,"ayushi","data science",22)
s3 = Student(3,"abhishek","data science",23)

In [31]:
Student.total()

Total students are :  3

In [32]:
s1.name

'mayank'

In [33]:
s1.age

20

In [34]:
s1.age = 30

In [35]:
l

[1, 2, 3]

In [36]:
del l

In [37]:
l

NameError: name 'l' is not defined

In [40]:
del s1

Deleting name
deleting sid
deleting course
Deleting object

In [41]:
s1.get()

NameError: name 's1' is not defined

In [42]:
s2.name

'ayushi'

In [43]:
del s2.name

In [44]:
s2.name

AttributeError: 'Student' object has no attribute 'name'

In [45]:
s2.sid

2

In [46]:
s2.name = 'rahul'

In [52]:
class Instance:
    count = 0
    def __init__(self):
        Instance.count += 1
    
    def __del__(self):
        del self
        Instance.count -= 1

In [53]:
obj1 = Instance()   #calls constructor
print("No of objects : ",Instance.count)
obj2 = Instance()
print("No of objects : ",Instance.count)
del obj1 
print("No of objects : ",Instance.count)
del obj2 
print("No of objects : ",Instance.count)

No of objects :  1
No of objects :  2
No of objects :  1
No of objects :  0

In [54]:
l = [2,3]

In [55]:
del l